/* Style */
body {
    background-color: #1F2937;
}
header {
    color: white;
}
.h-link {
    display: flex;
    justify-content: flex-end;
    padding: 40px;
}
.h-link>.header-logo {
    display: flex;
    margin-right: 1400px;
    color: #F9FAF8;
    font-size: 24px;
}
.cover {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    
    
}